* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Serif", serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* start componantes */
.title {
  font-size: 14px;
  margin-bottom: 30px;
  color: #777;
  text-align: center;
}
.main {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 50px;
}
/* end componantes */

/* start navbar  */

.navbar .container {
  border-bottom: 1px solid #e5e5e5;
}
.navbar .Search {
  display: flex;
}

.navbar .Search a i {
  font-size: 14px;
  color: black;
  margin-right: 5px;
}
.navbar .Search p {
  font-size: 16px;
}
.navbar .logo {
  display: flex;
}

@media (max-width: 992px) {
  .navbar .logo {
    display: none;
  }
}
.navbar .logo img {
  width: 150px;
  margin-bottom: 20px;
}
.navbar .account {
  display: flex;
}
.navbar .account p {
  font-size: 16px;
  margin-top: 12px;
  margin-right: 10px;
}
.navbar .account a i {
  font-size: 14px;
  margin-top: 16px;

  color: black;
}
.navbar .account img {
  width: 32px;
}
.navbar .account .offcanvas-body {
  display: flex;
  flex-direction: column;
}
.navbar .account .offcanvas-body a {
  width: 100%;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  color: #777;
  text-decoration: none;
}

/* end navbar  */
/* START menu */
.menu {
  padding-top: 10px;
}
@media (max-width: 992px) {
  .menu {
    display: none;
  }
}
.menu .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .list {
  display: flex;
}
.menu .list li {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 400;
}
.menu .list li i {
  margin-left: 10px;
}
.menu .list .active {
  color: #db6c8e;
  border-bottom: 1px solid #db6c8e;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* End menu */
/* start landing */
.landing {
  background-image: url(../image/img39.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin-top: -16px;
}

.landing .content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .landing .content {
    left: 50%;
    text-align: center;
  }
  .landing .button span {
    display: none;
  }
}
.landing .text h2 {
  font-size: 70px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .landing .text h2 {
    width: 360px;
  }
}
.landing .text p {
  color: white;
  margin-bottom: 20px;
}
.landing .button {
  position: relative;
}
.landing .button button {
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
}
.landing .button button i {
  font-size: 13px;
  margin-left: 4px;
}
.landing .button span {
  position: absolute;
  left: 10px;
  top: 40px;
  font-size: 22px;
}
/* end landing */

/* start prave */
.prave {
  overflow: hidden;
}
.prave .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.prave .text {
  width: 35%;
}
@media (max-width: 992px) {
  .prave .text {
    margin-top: 20px;
    width: fit-content;
    text-align: center;
  }
}
.prave .text h2 {
  font-size: 14px;
  margin-bottom: 30px;
  color: #777;
}
.prave .text h4 {
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.prave .text p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 30px;
}

.prave .text .button button {
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.prave .text .button button i {
  font-size: 13px;
  margin-left: 5px;
}
.prave .picture {
  display: flex;
  position: relative;
  width: 50%;
}
@media (max-width: 992px) {
  .prave .picture {
    display: none;
  }
}
.prave .picture .big {
  width: 800px;
}
.prave .picture .small {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 150px 150px 0 0;
}
/* end prave */
/* end occasions */
.occasions {
  background-color: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../image/img06.png);
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .occasions {
    display: none;
  }
}
.occasions .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 80px;
  row-gap: 40px;
}

.occasions .left-side img {
  width: 400px;
  border-radius: 0 150px 0 150px;
  text-align: left;
}

.occasions .middle {
  text-align: center;
  width: 300px;
  margin-left: 30px;
}

.occasions .middle h2 {
  font-size: 14px;
  margin-bottom: 30px;
  color: #777;
}
.occasions .middle p {
  font-size: 46px;
  font-weight: lighter;
  line-height: 1.8;
}
.occasions .middle a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.occasions .right-side {
  background-image: url(../image/img06.png);
  background-repeat: repeat-y;
}
.occasions .right-side .right-big {
  width: 280px;
  border-radius: 100px 0 100px 0;
}
.occasions .right-side .right-small {
  margin-top: 20px;
  width: 180px;
  border-radius: 0 0 150px 150px;
}
/* end occasions */

/* start our-flower */
.our-flower {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .our-flower {
    display: none;
  }
}
.our-flower .container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-flower .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.our-flower .fog-1::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 57%;
  height: 100%;
  opacity: 98%;
  filter: blur(5px);
  left: -10px;
  top: -10px;
}
.our-flower .fog-2::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 57%;
  height: 100%;
  opacity: 0.98;
  filter: blur(5px);
  right: -10px;
  top: -10px;
}
.our-flower .box img {
  width: 200px;
}

.our-flower .box h4 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 20px;
}
.our-flower .box p {
  font-size: 12px;
}
.our-flower .box p span {
  color: #777;
  text-decoration: line-through;
}
.our-flower .list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}

.our-flower .list li img {
  width: 20px;
}
/* end our-flower */

/* start collection */
.collection {
  padding-top: 100px;
  padding-bottom: 100px;
}
.collection .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.collection .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection .box img {
  width: 350px;
  height: 550px;
  border-radius: 200px 200px 0 0;
}
.collection .box p {
  margin-top: 40px;
  border-bottom: 1px solid;
  font-size: 24px;
  font-weight: lighter;
}

/* end collection */

/* start everyday */
.every {
  padding-top: 100px;
  padding-bottom: 100px;
}
.every .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .every .container {
    flex-direction: column;
  }
}
.every .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  width: 40%;
  height: 405px;
  background-image: url(../image/img24.png);
}
.every .left p {
  color: #777;
  margin-bottom: 20px;
}

.every .left h2 {
  font-size: 42px;
  font-weight: lighter;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
}
.every .left a {
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  background-color: white;
  border-radius: 50px;
}
.every .left a i {
  margin-left: 10px;
}
.every .right {
  width: 55%;
}
.every .right img {
  width: 650px;
}
@media (max-width: 992px) {
  .every .left,
  .every .right {
    width: fit-content;
  }
  .every .right img {
    width: 605px;
  }
}
@media (max-width: 767px) {
  .every .right img {
    display: none;
  }
}
/* end everyday */

/* strat gallery */
.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}
.gallery .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .box img {
  width: 250px;
}
.gallery .box h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
.gallery .box p {
  font-size: 12px;
}
/* end gallery */

/* start share  */
.share {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../image/img30.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.share .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share .content {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}
@media (max-width: 992px) {
  .share .content {
    margin-left: 0;
  }
}
.share .content .one {
  background-color: #fc8fc7;
  width: fit-content;
  color: white;
  margin: 0;
}
.share .content .two {
  color: #fc8fc7;
  font-size: 46px;
  margin: 0;
}
.share .content .three {
  color: #777;
}
.share .content h4 {
  font-size: 40px;
  font-weight: lighter;
}
.share .content h4 span {
  color: #fc8fc7;
}
.share .content a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 20px 30px;
  width: fit-content;
  border-radius: 50px;
  text-align: center;
}
.share .content a i {
  margin-left: 5px;
}
/* end share  */

/* start promise */
.promise {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1f1;
  background-image: url(../image/img31.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.promise .container {
  display: flex;
  flex-direction: column;
}
.promise .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  place-items: center;
  gap: 40px;
}

.promise .info .box {
  display: grid;
  place-items: center;
  height: 300px;
  background-color: white;
  padding: 10px;
  position: relative;
}
.promise .info .top {
  border-radius: 60px 0 60px 0;
}
.promise .info .bottom {
  margin-top: 40px;
  border-radius: 0 60px 0 60px;
}
.promise .info .box img {
  border-radius: 35px;
  border: 3px solid pink;
  padding: 10px;
  width: 70px;
  margin-bottom: 0;
}
.promise .info .box h4 {
  font-size: 22px;
  font-weight: 400;
  margin-top: -25px;
  text-align: center;
}
.promise .info .box p {
  margin-top: -35px;
  color: #777;
  text-align: center;
}
.promise .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.promise .button button {
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}
.promise .button button i {
  margin-left: 5px;
}
.promise .footer-promise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promise .footer-promise .star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promise .footer-promise .star li i {
  margin-right: 10px;
  margin-top: 30px;
  color: gold;
}
.promise .footer-promise .text {
  display: flex;
  align-items: center;
}
.promise .footer-promise .text .fa-arrow-left-long {
  color: white;
  font-size: 28px;
  margin-right: 20px;
}
.promise .footer-promise .text .fa-arrow-right-long {
  color: white;
  font-size: 28px;
  margin-left: 20px;
}
.promise .footer-promise .text h3 {
  text-align: center;
  padding: 20px 55px 20px 55px;
  color: white;
  font-weight: 300;
}
.promise .footer-promise .photo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.promise .footer-promise .photo .image-1 img {
  width: 40px;
  border-radius: 50px;
}
.promise .footer-promise .photo .image-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promise .footer-promise .photo .image-2 img {
  width: 60px;
  border-radius: 50px;
  margin-top: -5px;
}
.promise .footer-promise .photo .image-2 .one {
  color: white;
  margin-top: 10px;
}
.promise .footer-promise .photo .image-2 .two {
  color: white;
  margin-top: 0;
}
.promise .footer-promise .photo .image-3 img {
  width: 40px;
  border-radius: 50px;
}
.promise .container .prom {
  position: absolute;
  margin-top: 106px;
  z-index: -1;
  height: 135%;
  width: 100%;
  left: 0;
}
@media (max-width: 992px) {
  .promise .info {
    background-color: #f1f1f1;
  }
  .promise .button {
    background-color: #f1f1f1;
  }
  .promise .footer-promise {
    background-color: #db6c8e;
    border-radius: 20px;
  }
}
@media (max-width: 992px) {
  .promise .container .prom {
    display: none;
  }
}

/* end promise */

/* start trend */
.trend {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 60%;
}
.trend .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
}
.trend .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trend .box .image img {
  width: 350px;
  height: 450px;
}
.trend .box .text {
  margin-top: 20px;
  text-align: center;
}
.trend .box .text .one {
  color: #777;
  text-align: center;
}
.trend .box .text .one span {
  color: #db6c8e;
  border-bottom: 1px solid;
}
.trend .box .text h3 {
  font-size: 29px;
  text-align: center;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
}
.trend .box .text .two {
  color: #777;
  text-align: center;
}
.trend .box-stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trend .box-stretch .image img {
  width: 350px;
  height: 630px;
  position: relative;
  z-index: 1;
  margin-top: -100px;
}
.trend .box-stretch .text {
  margin-top: -60%;
  text-align: center;
  z-index: 2;
}
.trend .box-stretch .text .one {
  color: #777;
  text-align: center;
}
.trend .box-stretch .text .one span {
  color: #db6c8e;
  border-bottom: 1px solid;
}
.trend .box-stretch .text .two {
  color: white;
  text-align: center;
}
.trend .box-stretch .text h3 {
  font-size: 29px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}
.trend .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.trend .button button {
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}
.trend .button button i {
  margin-left: 5px;
}
@media (max-width: 992px) {
  .trend {
    display: none;
  }
}

/* end trend */

/* start CONTACT-US */
.contact-us {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .contact-us {
    margin-top: 135%;
  }
}
.contact-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #db6c8d4d;
}
@media (max-width: 992px) {
  .contact-us .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contact-us .image {
  position: relative;
}
.contact-us .image .big {
  width: 650px;
  border-radius: 0 200px 0 0;
}
.contact-us .image .small {
  position: absolute;
  width: 250px;
  left: 450px;
  bottom: 0;
  border-radius: 150px 150px 0 0;
}
@media (max-width: 992px) {
  .contact-us .image .small {
    display: none;
  }
  .contact-us .image .big {
    display: none;
  }
}
.contact-us .text {
  padding: 30px;
  margin-top: 30px;
}

.contact-us .text .start-head h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #777;
}
.contact-us .text .start-head p {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 50px;
  border-bottom: 1px solid #777;
  padding-bottom: 15px;
}
.contact-us .text .middle-head {
  display: flex;
}

.contact-us .text .middle-head .left h4 {
  font-size: 16px;
  font-weight: 300;
  margin-right: 40px;
  margin-bottom: 20px;
}
.contact-us .text .middle-head .left p {
  margin: 0 0 10px 0;
  color: #777;
}
.contact-us .text .middle-head .right .box {
  display: flex;
  align-items: center;
}
.contact-us .text .middle-head .right .box i {
  font-size: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #db6c8e;
}
.contact-us .text .middle-head .right .box p {
  color: #777;
}
.contact-us .text .middle-head .right .box .special {
  color: black;
  border-bottom: 1px solid;
}

.contact-us .text .end-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.contact-us .text .end-head .one p {
  color: #777;
}

.contact-us .text .end-head .two button {
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
}
.contact-us .text .end-head .two button i {
  margin-left: 5px;
}
/* end CONTACT-US */

/* start subscribe */
.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
}
.subscribe .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subscribe h2 {
  font-size: 22px;
  margin-right: 20px;
}
@media (max-width: 992px) {
  .subscribe h2 {
    margin-bottom: 20px;
  }
}
.subscribe form {
  display: flex;
}
.subscribe form .email {
  border: none;
  padding: 20px 100px;
  background-color: #f1f1f1;
  border-radius: 50px;
  margin-right: 10px;
}
.subscribe form .email:focus {
  outline: none;
}
.subscribe form .submit {
  border: none;
  padding: 20px 50px;
  background-color: #db6c8e;
  color: white;
  border-radius: 50px;
}
/* end subscribe */

/* start about */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 3px solid #777;
}
@media (max-width: 992px) {
  .about {
    display: none;
  }
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .left-about {
  display: flex;
}
.about .left-about .left {
  margin-right: 40px;
}
.about .left-about .left h5 {
  font-size: 16px;
  margin-bottom: 30px;
}
.about .left-about .left .list-1 {
  margin: 0;
  padding: 0;
}
.about .left-about .left .list-1 li {
  margin-bottom: 5px;
  color: #777;
}
.about .left-about .right h5 {
  font-size: 16px;
  margin-bottom: 30px;
}
.about .left-about .right .list-1 {
  margin: 0;
  padding: 0;
}
.about .left-about .right .list-1 li {
  margin-bottom: 5px;
  color: #777;
}

.about .right-about {
  display: flex;
}

.about .right-about .left {
  margin-right: 40px;
}
.about .right-about .left h5 {
  font-size: 16px;
  margin-bottom: 30px;
}
.about .right-about .left .list-1 {
  margin: 0;
  padding: 0;
}
.about .right-about .left .list-1 li {
  margin-bottom: 5px;
  color: #777;
}
.about .right-about .left .list-1 li span {
  color: #db6c8e;
}
.about .right-about .right {
  margin-top: 50px;
}
.about .right-about .right .list-1 {
  margin: 0;
  padding: 0;
}
.about .right-about .right .list-1 li {
  margin-bottom: 5px;
  color: #777;
}

.about .middle-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .middle-about .image img {
  width: 180px;
  margin-bottom: 50px;
}
.about .middle-about .image p {
  color: #777;
}

.about .middle-about .icon i {
  font-size: 20px;
  color: #777;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 50px;
  margin-right: 10px;
}
/* end about */
/* start footer */
.footer {
  background-image: url(../image/img42.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .footer {
    display: none;
  }
}
.footer .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.footer span {
  color: #db6c8e;
}
/* end footer */
